{
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "printWidth": 100,
  "overrides": [
    {
      "files": "/source/**/*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
